.footer {
  display: flex;
  padding: 2rem 4rem 1.125rem;
  background-color: var(--pr-white);
  justify-content: space-between;

  &__header {
    border-bottom: 0.0625rem solid black;
    position: relative;
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;

    &:before {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      margin-right: 0.75rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;

      @media (max-width: 500px) {
        width: 2.2rem;
        height: 2.2rem;
      }
    }

    &_menu {
      &:before {
        background-image: url("../../../assets/icons/Menu.svg");
      }
    }

    &_additional {
      &:before {
        background-image: url("../../../assets/icons/Additional.svg");
      }
    }

    @media (max-width: 500px) {
      font-size: 2.5rem;
    }
  }

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.container {
  max-width: 77.5rem;
  padding: 1.125rem 0;
  margin: auto;
}

.menu {
  list-style: none;
}

.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__logo {
    width: 7.5rem;
    margin-bottom: 1.5rem;

    @media (max-width: 500px) {
      width: 10rem;
    }
  }
  &__name {
    text-transform: uppercase;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: #161616;
    margin-bottom: 1.5rem;

    @media (max-width: 500px) {
      font-size: 2.5rem;
    }
  }

  &__socials {
    display: flex;
    list-style: none;
    margin-bottom: 1.5rem;
  }

  &__social-media {
    width: 1.5rem;
    margin: 0 0.5rem;

    img {
      width: 100%;
    }

    @media (max-width: 500px) {
      width: 3rem;
      margin: 0 1rem;
    }
  }
}

.main {
  @media (max-width: 500px) {
    margin-bottom: 2rem;
  }
}

.additional {
  @media (max-width: 500px) {
    margin-bottom: 2rem;
  }
}
