<header class="header">
  <div class="container">
    <div class="logo">
      <span>HIPPY</span>
      <img src="assets/icons/logo-60.png" alt="HIPPY HORSE LOGO" />
      <span>HORSES</span>
    </div>
    <nav class="menu">
      <ul class="menu__list">
        <li *ngFor="let item of menu" class="menu__item link">
          <a href="">
            {{ item }}
          </a>
        </li>
      </ul>
    </nav>
    <div class="additional">
      <ul class="social-media">
        <li class="social-media__item">
          <a href="">
            <img src="assets/icons/telegram-24.png" alt="Telegram" />
          </a>
        </li>
        <li class="social-media__item">
          <a href="">
            <img src="assets/icons/opensea-24.png" alt="OpenSea" />
          </a>
        </li>
        <li class="social-media__item">
          <a href="">
            <img src="assets/icons/discord-24.png" alt="Discord" />
          </a>
        </li>
      </ul>
      <input class="language" type="checkbox" />
    </div>
  </div>
</header>
