<header class="header">
  <div class="container">
    <div class="logo">
      <span class="logo__left">HIPPY</span>
      <img
        class="logo__img"
        src="assets/icons/logo-60.png"
        alt="HIPPY HORSE LOGO"
      />
      <span class="logo__right">HORSES</span>
    </div>
    <nav class="menu">
      <ul class="menu__list">
        <li *ngFor="let item of menu" class="menu__item link">
          <a href="">
            {{ item }}
          </a>
        </li>
      </ul>
    </nav>
    <div class="additional">
      <ul class="social-media">
        <li class="social-media__item">
          <a href="" target="_blank">
            <img src="assets/icons/telegram-24.png" alt="Telegram" />
          </a>
        </li>
        <li class="social-media__item">
          <a href="" target="_blank">
            <img src="assets/icons/opensea-24.png" alt="OpenSea" />
          </a>
        </li>
        <li class="social-media__item">
          <a href="" target="_blank">
            <img src="assets/icons/discord-24.png" alt="Discord" />
          </a>
        </li>
      </ul>
      <label for="language">
        <div class="language">
          <input
            (change)="changeLanguage()"
            id="language"
            class="language__checkbox"
            type="checkbox"
          />
          <span class="language__lang">EN</span>
          <div
            [class.language__circle_active]="activeLang === 'EN'"
            class="language__circle"
          >
            {{ activeLang }}
          </div>
          <span class="language__lang">RU</span>
        </div>
      </label>
    </div>
  </div>
</header>
