.header {
  background-color: var(--pr-white);
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  color: #161616;

  display: flex;
  align-items: center;

  &__left {
    margin-right: 0.75rem;
  }

  &__right {
    margin-left: 0.75rem;
  }

  &__img {
    width: 3.75rem;
  }
}

.menu {
  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 160%;
    color: var(--pr-black);
  }

  @media (max-width: 500px) {
    display: none;
  }
}

.additional {
  display: flex;
  align-items: center;
}

.social-media {
  width: calc(3 * 2rem + 1rem * 2);
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 1rem;

  img {
    width: 2rem;
  }

  &__item {
    a {
      display: flex;
      align-items: center;
    }
  }

  @media (max-width: 500px) {
    display: none;
  }
}

.language {
  width: 5rem;
  height: 2.5rem;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.25rem;
  position: relative;
  user-select: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.0625rem;
  color: var(--pr-black);

  &__circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    border-radius: inherit;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s ease-out;

    &_active {
      left: 0;
    }
  }

  &__checkbox {
    position: absolute;
    visibility: hidden;
  }

  &__lang {
    display: block;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mobile-menu {
  &__button {
    display: none;
    width: 2rem;
    margin-left: 1rem;
    @media (max-width: 500px) {
      display: block;
    }
  }
}
