.swiper-slide {
  display: flex;
  justify-content: center;
}

.nft-slider {
  .swiper-slide {
    width: 18.3125rem;
    height: 18.3125rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
