.hero {
  display: flex;
  justify-content: center;
  background: url("../../../assets/img/bg.png") center;
  background-size: cover;

  &__text-block {
    padding-right: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 500px) {
      padding-right: 0;
    }
  }

  &__btn {
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-size: 300% 100%;

    background-image: linear-gradient(
      to right,
      var(--yellow),
      #f5ce62,
      #e43603,
      #fa7199
    );
    // #e85a19
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);

    &:hover {
      background-position: 100% 0;
      color: var(--pr-white);
    }
  }

  @media (max-width: 500px) {
    min-height: calc(100vh - 2.5rem);
  }
}

.container {
  max-width: 90rem;
  display: flex;
  padding: 6.25rem 5rem;
  justify-content: space-between;

  @media (max-width: 500px) {
    padding: 10rem 2rem;
  }
}

.h1,
.subtitle {
  color: var(--pr-white);

  @media (max-width: 500px) {
    text-align: center;
  }
}

.h1 {
  padding-bottom: 3rem;
}

.subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4375rem;
  padding-bottom: 3rem;
}

.btn {
  background-color: var(--yellow);
  color: var(--pr-black);

  @media (max-width: 500px) {
    margin: auto;
  }
}

.nft {
  border-radius: 0.75rem;
  outline: 0.1875rem solid white;
  height: 27.625rem;
  width: 27.625rem;
  overflow: hidden;

  &__img {
    height: 100%;
    width: 100%;
  }

  @media (max-width: 500px) {
    display: none;
  }
}
