<section class="hero">
  <div class="container">
    <div class="hero__text-block">
      <div class="text-block">
        <h1 class="h1 shadow">Hippy Horses</h1>
        <h2 class="subtitle shadow">{{ text.subtitle }}</h2>
        <a href="#mint"><button class="btn shadow">{{ text.button }}</button></a>
      </div>
    </div>
    <figure class="hero__nft nft">
      <img
        class="nft__img"
        src="assets/img/hero-horse.png"
        alt="Hippy Horses NFT"
      />
    </figure>
  </div>
</section>
