<app-header [lang]="lang"></app-header>
<app-hero [lang]="lang"></app-hero>
<app-slider [lang]="lang"></app-slider>
<app-about [lang]="lang"></app-about>
<app-roadmap [lang]="lang"></app-roadmap>
<app-social-media-lead
  [lang]="lang"
  social="telegramLead"
></app-social-media-lead>
<app-mint-ticket [lang]="lang"></app-mint-ticket>
<app-decorational-line></app-decorational-line>
<app-mint-nft [lang]="lang"></app-mint-nft>
<app-social-media-lead
  [lang]="lang"
  social="discordLead"
></app-social-media-lead>
<app-team [text]="text.team"></app-team>
<!-- <app-ambassadors [lang]="lang"></app-ambassadors> -->
<app-faq [lang]="lang"></app-faq>
<app-footer [text]="text.footer"></app-footer>
