<app-header
  [menu]="text.menu"
  (languageChange)="changeActiveLang($event)"
></app-header>
<app-hero [text]="text.hero"></app-hero>
<app-slider></app-slider>
<app-about [slides]="text.about"></app-about>
<app-roadmap [text]="text.roadmap"></app-roadmap>
<app-social-media-lead [context]="text.telegramLead"></app-social-media-lead>
<app-mint-ticket [context]="text.mintTicket"></app-mint-ticket>
<app-decorational-line></app-decorational-line>
<app-mint-nft [text]="text.mintNFT"></app-mint-nft>
<app-social-media-lead [context]="text.discordLead"></app-social-media-lead>
<app-team [text]="text.team"></app-team>
<!-- <app-ambassadors [text]="text"></app-ambassadors> -->
<app-faq [context]="text.faq"></app-faq>
<app-footer [text]="text.footer"></app-footer>
