.mint-nft {
  padding: 7.5rem 0;

  &__title {
    text-align: center;
    margin-bottom: 4rem;
  }

  &__subtitle {
    margin-bottom: 2rem;
  }
}

.mint-block {
  display: flex;
  max-width: 70rem;
  justify-content: center;
  margin: auto;
  position: relative;
  width: min-width;

  @media (max-width: 500px) {
    flex-direction: column;
    padding: 0 3rem;
    align-items: center;
  }
}

.mint {
  width: 28rem;
  margin-right: 5.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__line {
    display: flex;
    justify-content: space-between;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: black;
    margin-bottom: 0.75rem;

    &_last {
      margin-bottom: 3rem;
    }
  }

  &__question {
    font-size: 1.125rem;
    line-height: 1.1875rem;
    color: black;
    margin-bottom: 1rem;
  }

  &__input-block {
    width: 100%;
    display: flex;
  }

  &__input {
    flex: 1;
    margin-right: 0.75rem;

    @media (max-width: 500px) {
      width: 14rem;
    }
  }

  &__img {
    width: 25rem;
    border-radius: 0.5rem;
  }

  @media (max-width: 500px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.decoration {
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
  height: 20rem;

  @media (max-width: 500px) {
    display: none;
  }
}
