.roadmap {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green);
  padding: 4rem 2rem;
  overflow: hidden;
  position: relative;

  &__title {
    margin-bottom: 3.75rem;
  }
}

.graph {
  width: 100%;
  position: relative;
  padding: 5.875rem 0 4.2rem;
  overflow: hidden;

  &__event {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }

    &_reversed {
      flex-direction: row-reverse;
      justify-content: center;
    }
  }

  &__text-block-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
    transform: translateX(-2rem);

    &:after {
      position: absolute;
      content: "";
      display: block;
      height: 0.1875rem;
      width: 2rem;
      background-color: black;
      right: -2rem;
      top: calc(50% - 0.0938rem);
    }

    &_reversed {
      justify-content: flex-start;
      transform: translateX(2rem);

      &:after {
        left: -2rem;
      }
    }
  }

  &__text-block {
    width: 30rem;
    padding: 1rem 2rem;
    background: #ffffff;
    border: 0.0625rem solid #000000;
    box-sizing: border-box;
    border-radius: 0.5rem;

    .h4 {
      margin-bottom: 0.8rem;

      @media (max-width: 500px) {
        font-size: 2.3rem;
      }
    }

    .p {
      color: black;

      @media (max-width: 500px) {
        font-size: 1.8rem;
      }
    }

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  &__dot {
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    border: 0.1875rem solid black;
    background-color: var(--green);
    z-index: 2;
  }

  &__date {
    flex: 1;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.875rem;
    line-height: 130%;
    color: var(--pr-black);
    transform: translateX(2.2rem);

    &_reversed {
      justify-content: flex-end;
      transform: translateX(-2.2rem);
    }

    @media (max-width: 500px) {
      transform: unset;
      margin-bottom: 2.25rem;
      justify-content: left;
      position: relative;
      padding-left: 4rem;

      &:before {
        content: "";
        position: absolute;
        left: -1rem;
        width: 4rem;
        border-bottom: 0.25rem solid black;
      }

      &:after {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        left: -2rem;
        border: 0.25rem solid black;
        border-radius: 50%;
        background-color: var(--green);
        z-index: 5;
      }
    }
  }

  &__pole {
    width: 0.1875rem;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0.2rem;
    transform: translateX(-50%);
    z-index: 0;

    &:after {
      position: absolute;
      content: "";
      bottom: -0.6rem;
      display: block;
      width: 1.25rem;
      height: 1.25rem;
      border-right: 0.1875rem solid black;
      border-bottom: 0.1875rem solid black;
      transform: rotate(45deg) translateX(-1rem);
      left: 50%;
    }

    &:before {
      position: absolute;
      content: "";
      top: 0;
      display: block;
      border: 0.75rem solid transparent;
      border-right: 0.75rem solid black;
      border-bottom: 0.75rem solid black;
      transform: rotate(45deg) translateX(-70%);
      left: 50%;
      // background-color: black;
    }

    @media (max-width: 500px) {
      z-index: 0;
      left: 1rem;
      top: 8rem;
      bottom: 4rem;
    }
  }

  @media (max-width: 500px) {
    display: none;
  }
}

.mobile-graph {
  display: none;

  &__event {
    padding-bottom: 3rem;

    @media (max-width: 500px) {
      z-index: 4;
    }
  }

  @media (max-width: 500px) {
    display: block;
  }
}

.decoration {
  position: absolute;
  width: 7.1875rem;
  top: 50%;
  transform: translateY(-50%);

  &_left {
    left: 4rem;
  }

  &_right {
    right: 4rem;
  }

  @media (max-width: 500px) {
    display: none;
  }
}
