.lead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;

  &__arrow {
    width: 1.875rem;
    margin: 0 1.5rem;

    @media (max-width: 500px) {
      margin: 0 0 1.5rem;
      transform: rotate(90deg);
    }
  }
  &__text {
    @media (max-width: 500px) {
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }

  &__btn {
    transition: 0.4s ease-out;

    &:hover {
      background-color: var(--pr-white) !important;
      color: black !important;
    }
  }

  @media (max-width: 500px) {
    flex-direction: column;
    padding: 4rem 2rem;
  }
}
