<section [style.background-color]="context.background" class="lead">
  <p class="lead lead__text">{{ context.text }}</p>
  <img
    class="lead__arrow"
    src="assets/icons/arrow-white.svg"
    alt="Arrow"
    class="lead__arrow"
  />
  <button
    [style.background]="context.buttonBackground"
    [style.color]="context.buttonColor"
    class="btn"
  >
    <img
      class="btn__icon"
      [src]="'assets/icons/' + context.icon"
      alt="Hippy Horses social media"
    />
    {{ context.button }}
  </button>
</section>
