<section class="mint-ticket">
  <h2 class="mint-ticket__title h2">{{ context.title }}</h2>
  <div class="tickets-slider-wrapper">
    <swiper
      [config]="config"
      (slideChange)="sliderIndexChanged($event)"
      class="tickets-slider"
    >
      <ng-template
        *ngFor="let ticket of context.tickets"
        class="ticket"
        swiperSlide
      >
        <img
          [src]="'assets/img/' + ticket.type + '-ticket.png'"
          alt="Hippy Horses presale ticket"
          class="ticket__img"
        />
        <h3 [style.color]="ticket.color" class="shadow_mini h3 ticket__name">
          {{ ticket.name }}
        </h3>
        <!-- [style]="getGradient(ticket.color)" -->
        <span [style.color]="ticket.color" class="shadow_mini h4 ticket__cost"
          >{{ ticket.cost }} <span class="ticket__cost-units">ETH</span></span
        >
        <p class="p ticket__description">{{ ticket.description }}</p>
      </ng-template>
    </swiper>
  </div>
  <div class="mint">
    <div class="mint__line">
      <span>{{ context.type }}</span>
      <span>{{ activeTicket.type }}</span>
    </div>
    <div class="mint__line">
      <span>{{ context.minted }}</span>
      <span>{{ activeTicket.minted }}</span>
    </div>
    <div class="mint__line">
      <span>{{ context.supply }}</span>
      <span>{{ activeTicket.supply }}</span>
    </div>
    <div class="mint__line mint__line_last">
      <span>{{ context.cost }}</span>
      <span>{{ activeTicket.cost }}</span>
    </div>
    <div class="micro mint__question">{{ context.howMuch }}</div>
    <div class="mint__input-block">
      <input
        min="1"
        [max]="activeTicket.supply"
        type="number"
        placeholder="10"
        class="input mint__input"
      />
      <button class="btn">{{ context.button }}</button>
    </div>
  </div>
</section>
